<table class="table table-dark table-hover table-border-outset">
  <thead >
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Manager Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone No</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let manager of managers">
      <td>{{manager.id}}</td>
      <td>{{manager.name}}</td>
      <td>{{manager.email}}</td>
      <td>{{manager.mobileno}}</td>
      <td>
          <button (click) = "deleteManagersById(manager.id)" class="btn btn-outline-danger rounded-pill" style="margin-left: 10px;">Delete</button>
     </td>
    </tr>
   
  </tbody>
</table>
