<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <img src="../../assets/image/logo.jpg" class="logo">

    <!-- <a href="#" class="navbar-brand">Urban Ticket</a> -->
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/userdetails" class="nav-link" routerLink="userdetails">Users</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/managerdetails" class="nav-link" routerLink="managerdetails">Managers</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/moviedetails" class="nav-link" routerLink="moviedetails">Movies</a>
      </li>
      <li class="nav-item" *ngIf="showManagerBoard">
        <a class="nav-link" [routerLink]="['/mod',id]">Manager Board</a>
      </li>
      <li class="nav-item" *ngIf="showManagerBoard">
        <a href="/create-movie" class="nav-link" routerLink="create-movie">Add Movie</a>
      </li>
      <li class="nav-item" *ngIf="showUserBoard" >
        <a href="/user" class="nav-link" routerLink="user">User</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Welcome, {{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>


  
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>


