<!DOCTYPE html>
<html>
<head>
	<title>UrbanTicket</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="container header">
		<!-- <img src="../../assets/image/logo.jpg" class="logo"> -->
		<!-- <a href="#" class="header-btn"><i class="fa fa-user" aria-hidden="true"></i> Account</a> -->
		
	</div>

	<div class="container movie-details">
		<div class="row">
			<div class="col-md-6 left-box">
				<h1>The Shawshank Redemption</h1>
				<p>Subscribe UrbanTicket to watch more movies.. <br></p>
				<p>Cast :</p>
				<div class="casting">
					<img src="../../assets/image/will.jpeg" title="will">
					<img src="../../assets/image/clancy.jpeg" title="clancy">
					<img src="../../assets/image/tim.jpeg" title="tim">
					<img src="../../assets/image/bob.jpeg" title="bob">
				</div>
				<a href="https://www.bing.com/videos/search?view=detail&mid=7F0F6C784C5049174DB87F0F6C784C5049174DB8&q=the+shawshank+redemption&shtp=GetUrl&shid=5f4cd5bc-5621-4a73-8fcf-1a409d3a1189&shtk=VGhlIFNoYXdzaGFuayBSZWRlbXB0aW9uIC0gVHJhaWxlciAtICgxOTk0KSAtIEhR&shdk=VHJhaWxlciBmb3IgRnJhbmsgRGFyYWJvbnQncyBmaWxtIHN0YXJyaW5nIFRpbSBSb2JiaW5zLCBNb3JnYW4gRnJlZW1hbiwgQm9iIEd1bnRvbiwgV2lsbGlhbSBTYWRsZXIsIENsYW5jeSBCcm93biwgRGF2aWQgUHJvdmFsLCBHaWwgQmVsbG93cywgTWFyayBSb2xzdG9uLCBKYW1lcyBXaGl0bW9yZSwgSmVmZnJleSBEZU11bm4sIExhcnJ5IEJyYW5kZW5idXJnLCBOZWlsIEdpdW50b2xpLA%3D%3D&shhk=ELaun46a6iRe8wAvSAmiS3jQR0Nc8rLkmdmlVT9YZmw%3D&form=VDSHOT&shth=OSH.GV6RwDS4%252F4UYy05qhgqGPg"><i class="fa fa-play" aria-hidden="true"></i> Watch Trailer</a>
			</div>

			<div class="col-md-6 text-center" >
				<img src="../../assets/image/shawshank.jpg" class="movie-img">
			</div>		
		</div>	
	</div>

	<div class="container series">
		<h3>Latest Movies</h3>
		<div class="row">
			<div class="col-md-4">
				<div class="row">
					<div class="col-6"><a [routerLink]="['/login']"><img src="../../assets/image/image3.jpg"></a></div>
					<div class="col-6"><a [routerLink]="['/login']"><img src="../../assets/image/image4.jpg"></a></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row">
					<div class="col-6"><a [routerLink]="['/login']"><img src="../../assets/image/image5.jpg"></a></div>
					<div class="col-6"><a [routerLink]="['/login']"><img src="../../assets/image/image6.jpg"></a></div>	
				</div>
			</div>

			<div class="col-md-4">
				<div class="row">
					<div class="col-6"><a [routerLink]="['/login']"><img src="../../assets/image/image7.jpeg"></a></div>
					<div class="col-6"><a [routerLink]="['/login']"><img src="../../assets/image/image8.jpg"></a></div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="row">
					<div class="col-6"><a [routerLink]="['/login']"><img src="../../assets/image/brooklyn.jpeg"></a></div>
					<div class="col-6"><a [routerLink]="['/login']"><img src="../../assets/image/johnyy.jpeg"></a></div>	
				</div>
			</div>

			<div class="col-md-4">
				<div class="row">
					<div class="col-6"><a [routerLink]="['/login']"><img src="../../assets/image/inception.jpeg"></a></div>
					<div class="col-6"><a [routerLink]="['/login']"><img src="../../assets/image/raid.jpeg"></a></div>	
				</div>
			</div>

			<div class="col-md-4">
				<div class="row">
					<div class="col-6"><a [routerLink]="['/login']"><img src="../../assets/image/mummy.jpeg"></a></div>
					<div class="col-6"><a [routerLink]="['/login']"><img src="../../assets/image/bilal.jpeg"></a></div>	
				</div>
			</div>
		</div>
	</div>
	<img src="../../assets/image/cinemas.jpg" class="w3-image w3-greyscale-min" style="width: 100%">
	
	
	<!-- <footer class="container-fluid text-center">
		<p>Copyright  &#169 2020 | Static.com</p>
	  </footer> -->
	  <!-- <div class="cinema"><img src="../../assets/image/cinemas.jpg"></div> -->
	<!-- <div class="footer">
		<p >2021 @UrbanTicket</p>
	</div> -->
</body>
</html>
